/*Capa (imagem e texto iniciais) do quiz*/
.capa{
    width: 100%;
    margin-top: 69px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.capa div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1;
}

.capa img{
    width: 100%;
}

/*Título da questão*/
.titulo{
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
}

.questao{
    display:flex;
    justify-content: center;
    margin-bottom: 12px;
}

.questao div{
    width: 340px;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.questao p{
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}

/*Bloco de respostas*/
.bloco-alternativas{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 69px;
}

.alternativas{
    width: 340px;
    height: 300px;
    margin-bottom: 69px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: blue;
}

/*Alternativa isolada*/
.uma-altern{
    width: 163px;
    margin-bottom: 20px;
}

.uma-altern img{
    width: 100%;
    margin-bottom: 5px;
}

.uma-altern p{
    font-size: 13px;
    font-weight: 700;
    color: #000000;
}

/*Resultados do quizz*/
.resultado{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultado .titulo-resultado{
    width: 340px;
    height: 99px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}

.resultado .titulo-resultado p{
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: #FFFFFF;
}

.resultado img{
    width: 340px;
    margin-bottom: 9px;
}

.resultado .texto-resultado{
    width: 340px;
    font-size: 17px;
    font-weight: 700;
    color: #484848;
    margin-bottom: 48px;
}

/*Botões pós resultado*/
.reset-quizz{
    border: none;
    background-color: #EC362D;
    width: 220px;
    height: 44px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #FFF5F4;
    margin-bottom: 8px;
}

.home-page{
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    width: 220px;
    height: 44px;
    font-size: 18px;
    color: #818181;
    margin-bottom: 66px;
}