body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

/*Topo da página*/
header{
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

h1{
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
}

/*Corpo da página*/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.criação-de-quiz {
    margin-top: 100px;
    margin-bottom: 35px;
    width: 340px;
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.criação-de-quiz p{
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
    margin-top: 35px;
    text-align: center;
}

.criação-de-quiz button{
    margin-bottom: 35px;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: #FAFAFA;
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
    cursor: pointer;
}

.todos-os-quizzes{
    margin-bottom: 15px;
}

.quizes-da-pagina{
    position: relative;
    margin-top: 72px;
}

.quizes-da-pagina h2{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    position: absolute;
    left: 0px;
    bottom: 1200px;
}

.quizes-pronto{
    position: relative;
}

.quiz-texto{
    width: 301px;
    height: 54px;
    position: absolute;
    bottom: 0px;
    left: 18px;
}

.quizes-pronto p{
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
}

@media (min-width: 1100px){
    .quizes-da-pagina{
        width: 1100px;
        margin-left: 195px;
        margin-right: 195px;
        display: flex;
        flex-wrap: wrap;
    }

    .quizes-da-pagina h2{
        bottom: 400px;
    }

    .quizes-pronto{
        margin-right: 15px;
    }
}