body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

/*Topo da página*/
header {
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

h1 {
  font-size: 37px;
  font-weight: 700;
  color: #ffffff;
}

/*Corpo da página*/
.tela-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.criação-de-quiz {
  margin-top: 100px;
  margin-bottom: 35px;
  width: 340px;
  height: 181px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.criação-de-quiz p {
  font-size: 20px;
  font-weight: 400;
  color: #b9b9b9;
  margin-top: 35px;
  text-align: center;
}

.criação-de-quiz button {
  margin-bottom: 35px;
  width: 151px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 21px;
  color: #ec362d;
  cursor: pointer;
}

.todos-os-quizzes {
  margin-bottom: 15px;
}

.quizes-da-pagina {
  position: relative;
  margin-top: 72px;
}

.quizes-da-pagina h2 {
  /*margin-bottom: 15px;*/
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  position: absolute;
  left: 0px;
  top: -40px;
}

.quizes-pronto {
  position: relative;
  width: 340px;
  height: 181px;
}
.quizes-pronto img {
  width: 340px;
  height: 181px;
  /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(image.png);*/
  border-radius: 5px;
}

.quiz-texto {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.1%,
    #000000 100%
  );
  width: 340px;
  height: 54px;
  position: absolute;
  bottom: 0px;
}
.quiz-texto p {
  padding-left: 17px;
}

.quizes-pronto p {
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
}
/*Capa (imagem e texto iniciais) do quiz*/
.capa {
  width: 100%;
  margin-top: 69px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.capa div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.capa img {
  width: 100%;
  height: 142px;
}

.titulo {
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  z-index: 2;
}

.fundo-branco {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  padding-top: 18px;
  padding-bottom: 23px;
}

/*Título da questão*/
.questao {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.questao div {
  width: 340px;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questao p {
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

/*Bloco de respostas*/
.bloco-alternativas {
  width: 100%;
  display: flex;
  justify-content: center;
}

.alternativas {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Alternativa isolada*/
.opaco {
  opacity: 0.3;
}

.uma-altern {
  width: 163px;
  margin-bottom: 20px;
}

.uma-altern img {
  width: 100%;
  height: 102px;
  margin-bottom: 5px;
}

.uma-altern p {
  font-size: 13px;
  font-weight: 700;
  color: #000000;
}

/*Resultados do quizz*/
.resultado {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultado .titulo-resultado {
  width: 340px;
  height: 99px;
  background-color: #ec362d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
}

.resultado .titulo-resultado p {
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}

.resultado img {
  width: 340px;
  margin-bottom: 9px;
}

.resultado .texto-resultado {
  width: 340px;
  font-size: 17px;
  font-weight: 700;
  color: #484848;
}

/*Botões pós resultado*/
.botoes-resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-quizz {
  border: none;
  background-color: #ec362d;
  width: 220px;
  height: 44px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 400;
  color: #fff5f4;
  margin-bottom: 8px;
}

.home-page {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 220px;
  height: 44px;
  font-size: 18px;
  color: #818181;
  margin-bottom: 66px;
}

.hidden {
  display: none;
}

@media (min-width: 1100px) {
  .quizes-da-pagina {
    width: 1100px;
    margin-left: 195px;
    margin-right: 195px;
    display: flex;
    flex-wrap: wrap;
  }

  .quizes-da-pagina h2 {
    bottom: 400px;
  }

  .quizes-pronto {
    margin-right: 15px;
  }
  .criação-de-quiz {
    width: 1050px;
    margin-left: -45px;
  }
  .capa {
    margin-bottom: 70px;
  }

  .capa img {
    height: 227px;
  }

  .titulo {
    font-size: 39px;
  }

  .corpo-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fundo-branco {
    width: 759px;
    margin-bottom: 42px;
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .questao {
    margin-bottom: 19px;
  }

  .questao div {
    width: 688px;
    height: 138px;
  }

  .questao p {
    font-size: 23px;
  }

  .alternativas {
    width: 688px;
  }

  .uma-altern {
    width: 330px;
  }

  .uma-altern img {
    height: 175px;
  }

  .uma-altern p {
    font-size: 20px;
  }

  .resultado .titulo-resultado {
    width: 727px;
    margin-bottom: 18px;
  }

  .corpo-resultado {
    display: flex;
    margin-bottom: 70px;
  }

  .corpo-resultado img {
    margin-right: 21px;
    margin-left: -25px;
  }

  .reset-quizz {
    width: 260px;
    height: 52px;
    font-size: 21px;
    margin-bottom: 16px;
  }

  .home-page {
    width: 220px;
    height: 44px;
    font-size: 21px;
    margin-bottom: 85px;
  }
}
